:root {
  --color-lightest: #f8f9fa;
  --color-light: #e9ecef;
  --color-lighter: #dee2e6;
  --color-light-medium: #ced4da;
  --color-light-dark: #adb5bd;
  --color-medium-dark: #6c757d;
  --color-dark: #495057;
  --color-darker: #343a40;
  --color-darkest: #212529;
  --color-pink: #e6beae;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  * {
    transition: none !important;
    animation: none !important;
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

body {
  font-family: Arial, sans-serif;
  color: var(--color-dark);
  background-color: var(--color-lightest);
}

#navbar {
  position: fixed;
  left: 0;
  top: 10vh;
  width: auto;
  border-radius: 8px;
  background-color: var(--color-dark);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-darker);
  z-index: 1000;
}

.dropdown-container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--color-dark);
  border: 1px solid var(--color-darker);
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
  padding: 8px;
  border-radius: 8px;
}

.dropdown-icon {
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 5px;
  font-size: 30px;
  color: var(--color-light-dark);
}

.dropdown-container.open .dropdown {
  display: flex;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
}

.dropdown-container.open .dropdown-icon {
  transform: rotate(90deg);
}

.dropdown-container:hover .dropdown {
  display: flex;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
}

.dropdown-container:hover .dropdown-icon {
  transform: rotate(90deg);
}

.dropdown .nav-item {
  display: flex;
  place-content: center;
  padding: 7.5px 5px;
  border-bottom: 0.5px solid var(--color-darkest);
}

.dropdown .nav-item:last-child {
  border-bottom: none;
}

.dropdown .nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-light-dark);
  padding: 2.5px 5px;
}

.dropdown .nav-link i {
  margin-right: 10px;
  font-size: 20px;
}

.dropdown .nav-link span {
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  vertical-align: middle;
}

.dropdown .nav-link:hover {
  background-color: var(--color-darkest);
  border-radius: 4px;
}

#welcome-section {
  color: var(--color-lightest);
  background: linear-gradient(
    135deg,
    var(--color-darker),
    var(--color-darkest),
    var(--color-medium-dark)
  );
  text-align: center;
  padding: 0 50px 50px;
  height: 100vh;
  place-content: center;
}

#welcome-section h1 {
  font-weight: bolder;
  font-size: 60px;
}

#welcome-section h1 #profile-link {
  color: var(--color-lightest);
  transition: color 0.3s ease;
}

#welcome-section h1 #profile-link:hover {
  color: var(--color-light-dark);
  transform: translateY(-2px);
}

#welcome-section h2 {
  font-weight: normal;
  font-size: 30px;
  color: var(--color-pink);
}

#projects {
  padding: 50px 20px;
  text-align: center;
  background-color: var(--color-light-medium);
}

#projects .projects-main-title {
  font-weight: bolder;
  font-size: 40px;
  margin-bottom: 30px;
  text-decoration: underline;
}

#projects main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 25px;
  column-gap: 25px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#projects main > a img {
  height: calc(100% - 50px);
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

#projects main > a {
  text-decoration: none;
  background-color: var(--color-darker);
  color: var(--color-light-medium);
  padding: 10px;
  border-radius: 8px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

#projects main > a:hover {
  transform: translateY(-9px) translateX(-15px);
  box-shadow: 15px 9px var(--color-darkest);
}

#projects main .project-tile {
  font-size: 24px;
  padding: 10px;
}

.projects-aside {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  place-content: center;
  vertical-align: middle;
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: var(--color-light-dark);
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.projects-aside:hover {
  background-color: var(--color-light);
}

.projects-aside a {
  display: inline-flex;
  text-decoration: none;
  color: var(--color-dark);
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 8px;
}

.projects-aside a i {
  font-size: 24px;
  margin-right: 5px;
}

.projects-aside a h1 {
  display: inline-flex;
  place-self: center;
}

#contact {
  padding: 50px 20px;
  background-color: var(--color-darker);
  border-bottom: 20px solid var(--color-darkest);
  color: var(--color-dark);
  text-align: center;
}

#contact #contact-title {
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: bolder;
  color: var(--color-light-medium);
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.contact-info h2 {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: normal;
  color: var(--color-light-medium);
}

.contact-info p {
  margin-bottom: 20px;
  font-size: 16px;
  color: var(--color-light-dark);
}

.contact-info .contact-details {
  display: flex;
  flex-direction: row;
  place-content: center;
  gap: 1%;
}

.contact-info a {
  width: 70px;
  height: 70px;
  font-size: 50px;
  background-color: var(--color-darkest);
  color: var(--color-light-dark);
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px;
  border-radius: 50%;
  margin-bottom: 15px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.contact-info a:hover {
  color: var(--color-light-medium);
  background-color: var(--color-dark);
}